
body {
    background-image: url(scenestarzzz.jpg);
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: auto;
    scrollbar-color: #ac58f1 grey;
}


.nav {
    background-color: rgb(0, 0, 0);
    max-width: 130px;
    text-align: center;
    font-size: 14px;
}

.aboutme {
    margin-top: -18px;
    padding: 6px;
    border-left: dashed;
    border-bottom: dashed;
    border-right: dashed;
    border-color: rgb(172, 88, 241);
    width: 118px;
}

hr {
    border-color:rgb(172, 88, 241)
}

.bout {
    border-color: rgb(172, 88, 241);
    border-style: solid
}   

.header {
    border-style: solid;
    border-color: rgb(172, 88, 241)
}

.maindesc {
    background-color: rgba(16, 0, 29, 0.75);
    color: white;
    margin-top: 31px;
    padding: 8px;

}

.movingtext {
    color: rgb(172, 88, 241);
    background-color: rgba(16, 0, 29, 0.75);
    margin-bottom: -24px;
}

.banner {
    max-width: 750;
    text-align: center;
    display: block;
    margin: auto;
    border-style: solid;
    color:rgb(172, 88, 241);
}

h3 {
    margin-top: 5px;
    margin-bottom: -5px;
    color:rgb(172, 88, 241);
    font-style: italic
}

.current {
    text-decoration: underline
}

a {
    color:rgb(172, 88, 241);
    text-decoration: none;
}

.guestbook {
    display: block;
    text-align: center;
    margin-top: 30px
}

footer {
    text-align: center;
}

.navbarlink, .current {
    text-decoration: none;
    margin: 0
}

.current {
    margin-bottom: 5px;
    margin-top: 5px;
}

.mikublog {
    margin-top: -6.1px;
}

a:hover {
    color: white;
}

footer a {
    text-decoration: underline;
}

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url(rdcursor.gif), auto;
    animation: cursor 1s linear infinite;
}

@keyframes cursor{
    0% { 
        cursor: url(rd1.png), auto;
    }
    6.66% { 
        cursor: url(rd2.png), auto;
    }
    13.33% { 
        cursor: url(rd3.png), auto;
    }
    20% {
        cursor: url(rd4.png), auto;
    }
    26.66% {
        cursor: url(rd5.png), auto;
    }
    33.33% {
        cursor: url(rd6.png), auto;
    }
    40% {
        cursor: url(rd7.png), auto;
    }
    46.66% {
        cursor: url(rd8.png), auto;
    }
    53.33% {
        cursor: url(rd9.png), auto;
    }
    60% {
        cursor: url(rd10.png), auto;
    }
    66.66% {
        cursor: url(rd11.png), auto;
    }
    73.33% {
        cursor: url(rd12.png), auto;
    }
    80% {
        cursor: url(rd13.png), auto;
    }
    86.66% {
        cursor: url(rd14.png), auto;
    }
    93.33% {
        cursor: url(rd15.png), auto;
    }
    100% {
        cursor: url(rd16.png), auto;
    }
}

::selection {
    background-color:rgba(172, 88, 241, 0.364);
    color: white;
}